<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{service.add.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{service.add.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/services}" th:text="#{service.add.back}" class="btn btn-secondary" />
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('service')}" />
            <form th:action="${T(com.carara.nursenow.util.WebUtils).getRequest().requestURI}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='service', field='name')}" />
                <div th:replace="~{fragments/forms::inputRow(object='service', field='duration')}" />
                <div th:replace="~{fragments/forms::inputRow(object='service', field='description', type='textarea')}" />
                <div th:replace="~{fragments/forms::inputRow(object='service', field='price')}" />
                <div th:replace="~{fragments/forms::inputRow(object='service', field='caregiver', type='select')}" />
                <input type="submit" th:value="#{service.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
