<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="#{users.profile.view}"></title>
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex flex-wrap mb-4">
        <h2>
            <span th:text="#{users.profile.info}"></span>
            <span th:text="${users.firstname}"></span>
            <span th:text="${users.lastname}"></span>
        </h2>
    </div>

    <main class="my-5">
        <div class="container">
            <a th:href="@{/userss/edit/{id}(id=${users.id})}" th:text="#{users.list.edit}"
               class="btn btn-sm btn-primary"></a>
            <div class="row">
                <div class="col-md-6">
                    <h2 th:text="#{caregiver.profile.headline}"></h2>
                    <ul>
                        <li><strong th:text="#{users.firstname.label}"/>: <span th:text="${users.firstname}"></span>
                        </li>
                        <li><strong th:text="#{users.lastname.label}"/>: <span th:text="${users.lastname}"></span></li>
                        <li><strong th:text="#{users.email.label}"/>: <span th:text="${users.email}"></span></li>
                        <li><strong th:text="#{users.description.label}"/>: <span th:text="${users.description}"></span>
                        </li>
                        <li><strong th:text="#{users.city.label}"/>: <span th:text="${users.city.name}"></span></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h2 th:text="#{eldery.profile.headline}"></h2>
                    <ul>
                        <li><strong th:text="#{users.elderyName.label}"/>: <span th:text="${users.elderyName}"></span>
                        </li>
                        <li><strong th:text="#{users.elderyBirthDate.label}"/>: <span
                                th:text="${users.elderyBirthDate}"></span></li>
                        <li><strong th:text="#{users.healthDetails.label}"/>: <span
                                th:text="${users.healthDetails}"></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>
