<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="#{users.profile.view}"></title>
</head>
<body>
<div layout:fragment="content">
    <main class="my-5">
        <div class="container">
            <div class="row">
                <h2>
                    <span th:text="#{users.profile.info}"></span>
                    <span th:text="${users.firstname}"></span>
                    <span th:text="${users.lastname}"></span>
                </h2>
                <div class="col-md-6">
                    <div class="info-item">
                        <strong th:text="#{users.firstname.label}"/>: <span th:text="${users.firstname}"></span>
                    </div>
                    <div class="info-item">
                        <strong th:text="#{users.lastname.label}"/>: <span th:text="${users.lastname}"></span>
                    </div>
                    <div class="info-item">
                        <strong th:text="#{users.email.label}"/>: <span th:text="${users.email}"></span>
                    </div>
                    <div class="info-item">
                        <strong th:text="#{users.description.label}"/>: <span th:text="${users.description}"></span>
                    </div>
                    <div class="info-item">
                        <strong th:text="#{users.city.label}"/>: <span th:text="${users.city.name}"></span>
                    </div>
                    <a th:href="@{/userss/edit/{id}(id=${users.id})}" th:text="#{users.list.edit}"
                       class="btn btn-sm btn-primary edit-button"></a>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-md-6">
                    <h2 th:text="#{experience.list.headline}"></h2>
                    <a th:href="@{/experiences/add}" th:text="#{experience.list.createNew}"
                       class="btn btn-primary mb-2"></a>
                    <ul>
                        <li th:each="experience : ${users.experience}">
                            <strong th:text="${experience.company}"></strong>
                            <div>
                                <strong th:text="#{experience.description.label}"/>: <span
                                    th:text="${experience.description}"></span>
                            </div>
                            <div>
                                <strong th:text="#{experience.startDate.label}"/>: <span
                                    th:text="${experience.startDate}"></span>
                            </div>
                            <div>
                                <strong th:text="#{experience.endDate.label}"/>: <span
                                    th:text="${experience.endDate}"></span>
                            </div>
                            <a th:href="@{/experiences/edit/{id}(id=${experience.id})}"
                               class="btn btn-primary edit-button" th:text="#{botao.editar}"></a>
                            <form th:action="@{/experiences/delete/{id}(id=${experience.id})}"
                                  th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                <button th:text="#{experience.list.delete}" type="submit"
                                        class="btn btn-sm btn-danger delete-button"></button>
                            </form>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h2 th:text="#{service.list.headline}"></h2>
                    <a th:href="@{/services/add}" th:text="#{service.list.createNew}"
                       class="btn btn-primary mb-2"></a>
                    <ul>
                        <li th:each="service : ${users.service}">
                            <strong th:text="${service.name}"></strong>
                            <div>
                                <strong th:text="#{service.duration.label}"/>: <span
                                    th:text="${service.duration}"></span>
                            </div>
                            <div>
                                <strong th:text="#{service.description.label}"/>: <span
                                    th:text="${service.description}"></span>
                            </div>
                            <div>
                                <strong th:text="#{service.price.label}"/>: <span
                                    th:text="${service.price}"></span>
                            </div>
                            <a th:href="@{/services/edit/{id}(id=${service.id})}" class="btn btn-primary edit-button"
                               th:text="#{botao.editar}"></a>
                            <form th:action="@{/services/delete/{id}(id=${service.id})}"
                                  th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                <button th:text="#{service.list.delete}" type="submit"
                                        class="btn btn-sm btn-danger delete-button"></button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>
