<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="#{users.profile.view}"/>
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex flex-wrap mb-4">
        <h1>
            <span th:text="#{users.profile.info}"></span>
            <span th:text="${users.firstname}"></span>
            <span th:text="${users.lastname}"></span>
        </h1>
        <div>
            <a th:href="@{/userss}" th:text="#{users.edit.back}" class="btn btn-secondary"/>
        </div>
    </div>

    <main class="my-5">
        <div class="container">
            <h1>Ver Perfil</h1>
            <a th:href="@{/userss/edit/{id}(id=${users.id})}" th:text="#{users.list.edit}" class="btn btn-sm btn-primary" />

            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="d-flex">
                        <div class="col-md-6">
                            <ul>
                                <li><strong th:text="#{users.firstname.label}"/>: <span
                                        th:text="${users.firstname}"></span></li>
                                <li><strong th:text="#{users.lastname.label}"/>: <span
                                        th:text="${users.lastname}"></span></li>
                                <li><strong th:text="#{users.email.label}"/>: <span th:text="${users.email}"></span>
                                </li>
                                <li><strong th:text="#{users.description.label}"/>: <span
                                        th:text="${users.description}"></span>
                                </li>
                                <li><strong th:text="#{users.city.label}"/><span th:text="${users.city.name}"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h2 th:text="#{experience.list.headline}"/>
                        <div>
                            <a th:href="@{/experiences/add}" th:text="#{experience.list.createNew}"
                               class="btn btn-primary ms-2"/>
                        </div>
                        <ul>
                            <li th:each="experience : ${users.experience}">
                                <strong th:text="${experience.company}"></strong>
                                <span><strong th:text="#{experience.description.label}"/>: <span
                                        th:text="${experience.description}"></span></span>
                                <span><strong th:text="#{experience.startDate.label}"/>: <span
                                        th:text="${experience.startDate}"></span></span>
                                <span><strong th:text="#{experience.endDate.label}"/>: <span
                                        th:text="${experience.endDate}"></span></span>
                                <a th:href="@{/experiences/edit/{id}(id=${experience.id})}"
                                   class="btn btn-primary" th:text="#{botao.editar}"/>
                                <form th:action="@{/experiences/delete/{id}(id=${experience.id})}"
                                      th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                    <button th:text="#{experience.list.delete}" type="submit"
                                            class="btn btn-sm btn-danger"/>
                                </form>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h2 th:text="#{service.list.headline}"/>
                        <div>
                            <a th:href="@{/services/add}" th:text="#{service.list.createNew}"
                               class="btn btn-primary ms-2"/>
                        </div>
                        <ul>
                            <li th:each="service : ${users.service}">
                                <strong th:text="${service.name}"></strong>
                                <span><strong th:text="#{service.duration.label}"/>: <span
                                        th:text="${service.duration}"></span></span>
                                <span><strong th:text="#{service.description.label}"/>:  <span
                                        th:text="${service.description}"></span></span>
                                <span><strong th:text="#{service.price.label}"/>: <span
                                        th:text="${service.price}"></span></span>
                                <a th:href="@{/services/edit/{id}(id=${service.id})}" class="btn btn-primary"
                                   th:text="#{botao.editar}"/>
                                <form th:action="@{/services/delete/{id}(id=${service.id})}"
                                      th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                    <button th:text="#{service.list.delete}" type="submit"
                                            class="btn btn-sm btn-danger"/>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    </main>


</div>
</body>
</html>
