<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Listagem de Enfermeiros</title>
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex flex-wrap mb-4">
        <h1 class="flex-grow-1 text-center">Buscar Enfermeiros</h1>
    </div>
    <div class="row my-3">
        <form th:action="@{/nurse/search}" method="get">
            <div class="row">
                <div class="col-md-4">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Pesquisar por nome" name="name">
                    </div>
                </div>
                <div class="col-md-4">
                    <select class="form-select" name="city">
                        <option value="">Selecione a cidade</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <select class="form-select" name="service">
                        <option value="">Selecione o serviço</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Buscar</button>

            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-md-6" th:each="nurse : ${nurses}">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title" th:text="${nurse.name}"></h5>
                    <p class="card-text" th:text="${nurse.city}"></p>
                    <a th:href="@{/nurse/profile/{id}(id=${nurse.id})}" class="btn btn-primary">Ver Perfil</a>
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">Experiências</h6>
                    <ul>
                        <li th:each="experience : ${nurse.experiences}" th:text="${experience}"></li>
                    </ul>
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">Serviços</h6>
                    <ul>
                        <li th:each="service : ${nurse.services}" th:text="${service}"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
