<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{caregiver.list.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{caregiver.list.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/caregivers/add}" th:text="#{caregiver.list.createNew}" class="btn btn-primary ms-2" />
                </div>
            </div>
            <div th:if="${caregivers.empty}" th:text="#{caregiver.list.empty}" />
            <div th:if="${!caregivers.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th th:text="#{caregiver.id.label}" scope="col" />
                            <th th:text="#{caregiver.firstname.label}" scope="col" />
                            <th th:text="#{caregiver.lastname.label}" scope="col" />
                            <th th:text="#{caregiver.email.label}" scope="col" />
                            <th th:text="#{caregiver.password.label}" scope="col" />
                            <th th:text="#{caregiver.role.label}" scope="col" />
                            <th th:text="#{caregiver.city.label}" scope="col" />
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="caregiver : ${caregivers}">
                            <td th:text="${caregiver.id}" />
                            <td th:text="${caregiver.firstname}" />
                            <td th:text="${caregiver.lastname}" />
                            <td th:text="${caregiver.email}" />
                            <td th:text="${caregiver.password}" />
                            <td th:text="${caregiver.role}" />
                            <td th:text="${caregiver.city}" />
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/caregivers/edit/{id}(id=${caregiver.id})}" th:text="#{caregiver.list.edit}" class="btn btn-sm btn-info" />
                                    <form th:action="@{/caregivers/delete/{id}(id=${caregiver.id})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button th:text="#{caregiver.list.delete}" type="submit" class="btn btn-sm btn-danger" />
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
